section:not(#presentation){
    & h2{
        position: relative;
        font-size: 3rem;
        letter-spacing: -2px;
        margin-bottom: 48px;
  
        &::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 10px;
            width: 100%;
            height: 1px;
            background-color: black;
        }  
    }
  }