*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-flow: column;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  --salienceColor : #29ccd2;
}
main{
  margin: 64px 0 24px;
  display: flex;
  flex-flow: column;
  gap: 60px;
  width: min(100%, 1700px);
}
section{
  padding: 0 24px;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  cursor: pointer;
  color: black;
  transition: color 300ms ease;

  &:hover{
      color: var(--salienceColor);
  }
}
button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}
h1, h2{
  font-family: "Exo", sans-serif;
}
h1{
  font-size: 2rem;
}

/***** DESKTOP *****//***** DESKTOP *****//***** DESKTOP *****//***** DESKTOP *****/

@media screen and (min-width: 1024px) {
  main{
      margin: 64px 0 48px;
  }
  section{
      padding: 0 48px;
  }
} 

/***** TABLET *****//***** TABLET *****//***** TABLET *****//***** TABLET *****//***** TABLET *****/

@media screen and (min-width: 768px) and (max-width: 1023px) {
  section{
      min-height: 50vh;
      padding: 0 36px;
  }
}